.bg-2 {
    background: url(../images/women/header-new.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

.portfolio-work .block .portfolio-contant .item-overly {
    background: rgba(60, 55, 55, 0.5);
}

.portfolio-work .block .portfolio-contant ul img {
    width: auto;
}