.bg-2 {
    background: url(../images/about/header-new.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.mt-40 {
    margin-top: 0;
}

.testimonial {
    padding-top: 50px;
    padding-bottom: 10px;
}